/models
.env
/adapters/*
adapters
datasets/

/home/tess/work/deep_learning/transformers/adapters
/training_output
/training_output/*
/training_output/**/*
/training_output/**/**/*

/results
/results/*
# ignore pycache
__pycache__/
*.pyc
/src/**/__pycache__/